In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout, Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model, Sequential

In [2]:
train_df = pd.read_csv('train_standard.csv')

In [3]:
train_df = train_df.drop('Unnamed: 0', axis=1)

In [4]:
train_df.head()

,id,cc_no,gender,ocp_cd,age,income,kp_txn_count,kp_txn_amt,cc_txn_amt
0,1,1,2,9.0,5,20000,1.000000,1750.000000,0.000000
1,1,98397,2,9.0,5,20000,1.000000,1750.000000,5000.000000
2,2,2,2,3.0,4,106000,4.346154,9111.538462,1034.615385
3,2,9740,2,3.0,4,106000,4.487805,9514.634146,797.560976
4,3,3,2,1.0,3,29000,3.333333,6652.380952,0.000000

In [5]:
train_id_df = pd.read_csv('train.csv')
train_id_df.head()

   id  income
0   1   20000
1   2  106000
2   3   29000
3   4   61000
4   5   18000

In [6]:
train_df = train_df.drop('cc_no', axis=1)
temp_group = train_df.groupby(['id', 'gender', 'ocp_cd', 'age', 'income']).mean()
temp_group

                                kp_txn_count     kp_txn_amt   cc_txn_amt
id    gender ocp_cd age income
1     2      9.0    5   20000       1.000000    1750.000000  2500.000000
2     2      3.0    4   106000      4.416979    9313.086304   916.088180
3     2      1.0    3   29000       3.333333    6652.380952     0.000000
4     2      3.0    5   61000      12.191071  247372.142857  8785.714286
6     1      3.0    3   19000       3.333333    4466.666667  3833.333333
...                                      ...            ...          ...
49995 1      4.0    6   132000      1.625000    5718.750000   793.750000
49996 2      3.0    4   48000       3.125000    7281.250000   246.875000
49997 1      9.0    5   37000       9.687692   27355.461538    59.615385
49998 2      9.0    2   19000       7.148148   16459.259259   537.037037
49999 2      3.0    3   13000       1.421053    8657.894737   310.526316

[38046 rows x 3 columns]

In [7]:
df = temp_group.reset_index()
df.head()

   id  gender  ocp_cd  age  income  kp_txn_count     kp_txn_amt   cc_txn_amt
0   1       2     9.0    5   20000      1.000000    1750.000000  2500.000000
1   2       2     3.0    4  106000      4.416979    9313.086304   916.088180
2   3       2     1.0    3   29000      3.333333    6652.380952     0.000000
3   4       2     3.0    5   61000     12.191071  247372.142857  8785.714286
4   6       1     3.0    3   19000      3.333333    4466.666667  3833.333333

In [8]:
len(df)

38046

In [9]:
len(df) * 0.8

30436.800000000003

In [10]:
len(df) * 0.2

7609.200000000001

In [11]:
indices = np.random.randint(len(df), size=len(df))
val = df.iloc[indices[:int(len(df)*0.2)]]
test = df.iloc[indices[int(len(df)*0.2):int(len(df)*0.2)*2]]
train = df.iloc[indices[int(len(df)*0.2)*2:]]

In [12]:
def split_x_y(df):
    X = pd.DataFrame()
    y = pd.DataFrame()
    cols = df.columns
    for col in cols:
        if col == 'income':
            y[col] = df[col]
        elif col == 'id':
            pass
        else:
            X[col] = df[col]
    X = X.to_numpy()
    y = y.to_numpy().reshape(-1)
    return X, y

In [13]:
x_val, y_val = split_x_y(val)
x_test, y_test = split_x_y(test)
x_train, y_train = split_x_y(train)
x_val.shape

(7609, 6)

In [ ]:
class GodLayer(tf.nn.layer):

In [17]:

model = Sequential([
    Dense(1024, activation='relu', input_shape=(6, )),
    Dropout(0.7),
    Dense(128, activation='relu'),
    Dropout(0.5),
    Dense(1, activation='linear')
])

model.summary()
model.compile(optimizer=Adam(learning_rate=1e-10, decay=0.01), loss='mse', metrics=['mse'])

hist = model.fit(x_train, y_train, batch_size=1024, epochs=100,
                validation_data=(x_val, y_val), verbose=1)

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 1024)              7168
_________________________________________________________________
dropout_6 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_10 (Dense)             (None, 128)               131200
_________________________________________________________________
dropout_7 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 129
=================================================================
Total params: 138,497
Trainable params: 138,497
Non-trainable params: 0
_________________________________________________________________
Train on 22828 samples, validate on 7609 samples
Epoch 1/100
22828/22828 [==============================] - 2s 72us/sample - loss: 5580546165.1670 - mse: 5580546560.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 2/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5467823968.3084 - mse: 5467824128.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 3/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5490852533.7613 - mse: 5490852352.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 4/100
22828/22828 [==============================] - 1s 38us/sample - loss: 5467144696.0154 - mse: 5467144192.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 5/100
22828/22828 [==============================] - 1s 36us/sample - loss: 5570916887.9537 - mse: 5570916352.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 6/100
22828/22828 [==============================] - 1s 36us/sample - loss: 5445672881.7691 - mse: 5445672960.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 7/100
22828/22828 [==============================] - 1s 42us/sample - loss: 5481614118.2632 - mse: 5481614336.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 8/100
22828/22828 [==============================] - 1s 47us/sample - loss: 5375626642.5484 - mse: 5375626240.0000 - val_loss: 5387419248.4395 - val_mse: 5387419648.0000
Epoch 9/100
22828/22828 [==============================] - 1s 45us/sample - loss: 5595570441.9134 - mse: 5595570688.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 10/100
22828/22828 [==============================] - 1s 39us/sample - loss: 5665815644.4058 - mse: 5665815552.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 11/100
22828/22828 [==============================] - 1s 43us/sample - loss: 5476283213.7824 - mse: 5476282880.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 12/100
22828/22828 [==============================] - 1s 37us/sample - loss: 5517139292.0918 - mse: 5517138944.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 13/100
22828/22828 [==============================] - 1s 41us/sample - loss: 5475211428.5362 - mse: 5475211264.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 14/100
22828/22828 [==============================] - 1s 45us/sample - loss: 5642937270.0753 - mse: 5642937856.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 15/100
22828/22828 [==============================] - 1s 42us/sample - loss: 5509269756.9946 - mse: 5509270016.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 16/100
22828/22828 [==============================] - 1s 42us/sample - loss: 5572492019.3951 - mse: 5572492288.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 17/100
22828/22828 [==============================] - 1s 48us/sample - loss: 5489710075.6040 - mse: 5489709568.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 18/100
22828/22828 [==============================] - 1s 38us/sample - loss: 5416890022.7342 - mse: 5416890880.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 19/100
22828/22828 [==============================] - 1s 40us/sample - loss: 5602976200.4668 - mse: 5602976256.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 20/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5487314208.6112 - mse: 5487313920.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 21/100
22828/22828 [==============================] - 1s 35us/sample - loss: 5705583241.7116 - mse: 5705583104.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 22/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5499143722.2555 - mse: 5499143168.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 23/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5449315294.1777 - mse: 5449314816.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 24/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5433204022.5015 - mse: 5433203712.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 25/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5456506032.8271 - mse: 5456505344.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 26/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5542344446.5197 - mse: 5542344704.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 27/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5497795445.3913 - mse: 5497795584.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 28/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5485850724.4801 - mse: 5485850624.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 29/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5480636624.5859 - mse: 5480637440.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 30/100
22828/22828 [==============================] - 1s 50us/sample - loss: 5524637882.3368 - mse: 5524637696.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 31/100
22828/22828 [==============================] - 1s 37us/sample - loss: 5605391943.3229 - mse: 5605392384.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 32/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5411162004.7913 - mse: 5411162624.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 33/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5503596937.4873 - mse: 5503597056.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 34/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5501184802.9438 - mse: 5501185536.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 35/100
22828/22828 [==============================] - 1s 30us/sample - loss: 5483150720.6504 - mse: 5483150848.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 36/100
22828/22828 [==============================] - 1s 30us/sample - loss: 5438099268.1381 - mse: 5438099456.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 37/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5457158193.7915 - mse: 5457158656.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 38/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5476695818.4069 - mse: 5476695552.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 39/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5466679785.3920 - mse: 5466680832.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 40/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5626219571.1372 - mse: 5626219520.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 41/100

22828/22828 [==============================] - 1s 32us/sample - loss: 5486793884.6413 - mse: 5486794240.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 42/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5476858685.7684 - mse: 5476858880.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 43/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5513703518.3795 - mse: 5513703424.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 44/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5530664166.8351 - mse: 5530663936.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 45/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5475409945.9275 - mse: 5475409920.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 46/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5494489507.3250 - mse: 5494489600.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 47/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5467527371.9208 - mse: 5467527168.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 48/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5449700881.4943 - mse: 5449700864.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 49/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5541827786.7545 - mse: 5541828096.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 50/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5490714550.8828 - mse: 5490714624.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 51/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5512559693.8721 - mse: 5512560128.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 52/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5475695632.6869 - mse: 5475695616.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 53/100
22828/22828 [==============================] - 1s 41us/sample - loss: 5480040867.1456 - mse: 5480039936.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 54/100
22828/22828 [==============================] - 1s 46us/sample - loss: 5532880545.9345 - mse: 5532880384.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 55/100
22828/22828 [==============================] - 1s 34us/sample - loss: 5516541842.8176 - mse: 5516541952.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 56/100
22828/22828 [==============================] - 1s 36us/sample - loss: 5540022874.4321 - mse: 5540022784.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 57/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5448479206.5211 - mse: 5448478720.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 58/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5516207910.5323 - mse: 5516208128.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 59/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5488191346.6101 - mse: 5488191488.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 60/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5498699777.2560 - mse: 5498699264.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 61/100
22828/22828 [==============================] - 1s 35us/sample - loss: 5428690626.5905 - mse: 5428690944.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 62/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5457734284.4927 - mse: 5457734144.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 63/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5513963600.4738 - mse: 5513963008.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 64/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5501255204.3343 - mse: 5501254656.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 65/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5481078420.6567 - mse: 5481078784.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 66/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5604854636.5095 - mse: 5604854784.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 67/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5508938550.1426 - mse: 5508938240.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 68/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5434178424.1724 - mse: 5434178048.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 69/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5673840000.5159 - mse: 5673840128.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 70/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5481184219.6657 - mse: 5481183232.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 71/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5460149920.4093 - mse: 5460149760.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 72/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5515653959.3678 - mse: 5515653632.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 73/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5476883700.2026 - mse: 5476882944.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 74/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5657032695.2977 - mse: 5657032192.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 75/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5574165315.9586 - mse: 5574165504.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 76/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5513982791.6369 - mse: 5513981952.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 77/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5516797267.5690 - mse: 5516796928.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 78/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5635155531.0909 - mse: 5635155456.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 79/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5471621031.0930 - mse: 5471620608.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 80/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5562002783.1421 - mse: 5562002944.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 81/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5533839071.6580 - mse: 5533838336.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 82/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5621504770.9157 - mse: 5621504512.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 83/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5422576091.6657 - mse: 5422575616.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 84/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5519404302.3992 - mse: 5519405056.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 85/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5475442931.2157 - mse: 5475443200.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 86/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5513663066.7012 - mse: 5513662976.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 87/100

22828/22828 [==============================] - 1s 33us/sample - loss: 5476359489.4466 - mse: 5476359680.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 88/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5458531569.3317 - mse: 5458531328.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 89/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5408707927.6061 - mse: 5408708096.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 90/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5455952738.4615 - mse: 5455952896.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 91/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5463401287.8164 - mse: 5463401984.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 92/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5665696121.1593 - mse: 5665695744.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 93/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5510655657.7396 - mse: 5510654976.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 94/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5428924521.8630 - mse: 5428924928.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 95/100
22828/22828 [==============================] - 1s 33us/sample - loss: 5573890515.9502 - mse: 5573889536.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 96/100
22828/22828 [==============================] - 1s 32us/sample - loss: 5513451676.3273 - mse: 5513451520.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 97/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5449709534.4468 - mse: 5449709056.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 98/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5492891298.1139 - mse: 5492891648.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 99/100
22828/22828 [==============================] - 1s 30us/sample - loss: 5590667842.2092 - mse: 5590668288.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000
Epoch 100/100
22828/22828 [==============================] - 1s 31us/sample - loss: 5563245910.0810 - mse: 5563245568.0000 - val_loss: 5387419179.5358 - val_mse: 5387419648.0000

In [91]:
pred = model.predict(x_train)

In [101]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(x_train, y_train)
clf.predict(x_test)

array([48000., 36000., 14000., ..., 19000., 14000., 29000.])

In [117]:
y_test

array([ 48000, 127000,  17000, ...,  19000,  34000,  40000])

In [112]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=10, random_state=0, n_estimators=3000)
regr = clf.fit(x_train, y_train)

In [116]:
pred = regr.predict(x_test)

In [119]:
eiei = (pred - y_test)
eiei

array([     0., -91000.,  -3000., ...,      0., -23000., -11000.])

In [123]:
eiei = np.array(eiei, dtype=np.int)
eiei

array([     0, -91000,  -3000, ...,      0, -23000, -11000])

In [124]:
eiei = np.where(eiei == 0, True, False)

In [126]:
eiei = list(eiei

AttributeError: 'numpy.ndarray' object has no attribute 'toList'